.terms{
    margin-top: 6vh !important;
}
.privacy-para{
    background-color: var(--color-two);
}
.privacy-policy{
    color: var(--color-four);
}
.privacy-policy:hover{
    color: var(--color-one);
}