.contact{
  margin-top: 6vh !important;
}
.input-field{
  width: 60%;
  min-height: 35px;
  outline: none;
}
.submit-button{
  background-color: var(--color-four);
  color: var(--color-six);
}
.submit-button:hover{
  color: var(--color-six);
}