.waveme-label{
    color: var(--color-one);
}
.navigation-tabs{
    color: var(--color-three);;
}
.navigation-tabs:hover{
    /* background-color: var(--color-one); */
    border-bottom: 2px solid var(--color-one);
    color: var(--color-three);
    border-radius: 5px;
}
.navigation-tab-content:hover{
    text-decoration: none;
}
.activeNavigation-tab{
    border-bottom: 2px solid var(--color-one);
    color: var(--color-three);
    border-radius: 5px;
}