.features{
    margin-top: 6vh !important;
}
.feature-card-data{
    background-color: white;
    border-color: #5a5cff;
    height: 350px;
    overflow: hidden;
}
.feature-card-data:hover{
    border: none;
    box-shadow: 0 2px 10px -1px #5a5cff;
}